<div class="card mb-3" *ngFor="let review of reviews">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <!--suppress TypeScriptValidateTypes -->
        <h5 class="card-title" *ngFor="let user of review.user | keyvalue">
          <span *ngIf="user.key == 'nickname'">
            {{ user.value }}
          </span>
        </h5>
        <p class="card-text">{{review.text}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="reviews.length == 0" class="alert alert-danger" role="alert">
  This is movie doesn't have any reviews, yet!
</div>
