<div class="card mb-3" *ngFor="let movie of movies">
  <div class="row g-0">
    <div class="col-md-4">
      <!--suppress CheckEmptyScriptTag -->
      <img src="{{movie.bannerLink}}" class="img-fluid rounded-start" alt="..."/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{movie.name}}</h5>
        <p class="card-text">{{movie.year}}, {{movie.runningTime}} min</p>
        <p class="card-text">{{movie.about}}</p>
        <a [routerLink]="['/movie',movie.id,'reviews']" class="btn btn-primary">Reviews</a>
      </div>
    </div>
  </div>
</div>
