<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>Index page</title>
</head>
<body>
<div class="mt-3 container">
    <h1 th:text="'Index page'"></h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/index}">Index</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">User</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/user/list}">List</a></li>
                <li><a class="dropdown-item" th:href="@{/user/create}">Create</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movie</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/movie/list}">List</a></li>
                <li><a class="dropdown-item" th:href="@{/movie/create}">Create</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Genre</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/genre/list}">List</a></li>
                <li><a class="dropdown-item" th:href="@{/genre/create}">Create</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Review</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/review/list}">List</a></li>
                <li><a class="dropdown-item" th:href="@{/review/create}">Create</a></li>
            </ul>
        </li>
    </ul>
    <div class="mt-3 container">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras elementum. Fusce dui leo, imperdiet in, aliquam
        sit amet, feugiat eu, orci. Aenean id metus id velit ullamcorper pulvinar. Vestibulum erat nulla, ullamcorper
        nec, rutrum non, nonummy ac, erat. Aliquam id dolor. Nullam at arcu a est sollicitudin euismod. In rutrum.
        Aliquam ornare wisi eu metus. Nulla non arcu lacinia neque faucibus fringilla. Nullam dapibus fermentum ipsum.
        Nunc dapibus tortor vel mi dapibus sollicitudin. Sed ac dolor sit amet purus malesuada congue. Mauris dolor
        felis, sagittis at, luctus sed, aliquam non, tellus. Etiam egestas wisi a erat. Nullam rhoncus aliquam metus.
        Maecenas lorem. Integer tempor. Phasellus et lorem id felis nonummy placerat.

        Etiam bibendum elit eget erat. Integer vulputate sem a nibh rutrum consequat. Etiam bibendum elit eget erat.
        Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Praesent in mauris eu tortor
        porttitor accumsan. Donec vitae arcu. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Nullam
        rhoncus aliquam metus. Etiam neque. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. In
        laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Aenean id
        metus id velit ullamcorper pulvinar. Nunc tincidunt ante vitae massa. Nam quis nulla. Nulla quis diam. Maecenas
        aliquet accumsan leo. Aenean vel massa quis mauris vehicula lacinia.

        Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Sed vel lectus. Donec odio tempus molestie,
        porttitor ut, iaculis quis, sem. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo.
        Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus.
        Etiam quis quam. Aenean id metus id velit ullamcorper pulvinar. Aliquam erat volutpat. Nullam at arcu a est
        sollicitudin euismod. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Integer pellentesque quam vel velit. Proin mattis lacinia justo. Integer in sapien. Sed elit
        dui, pellentesque a, faucibus vel, interdum nec, diam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

        Ut tempus purus at lorem. Etiam dictum tincidunt diam. Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        quasi architecto beatae vitae dicta sunt explicabo. In convallis. Etiam neque. Proin in tellus sit amet nibh
        dignissim sagittis. Praesent vitae arcu tempor neque lacinia pretium. Nullam lectus justo, vulputate eget mollis
        sed, tempor sed magna. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Proin mattis lacinia justo.
        Nullam dapibus fermentum ipsum. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor
        suscipit diam nulla vel leo. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Proin pede
        metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Donec iaculis gravida nulla.

        Vivamus porttitor turpis ac leo. Etiam quis quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. In laoreet, magna id viverra tincidunt, sem odio
        bibendum justo, vel imperdiet sapien wisi sed libero. Aliquam in lorem sit amet leo accumsan lacinia. Curabitur
        ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Maecenas libero. Aenean id metus id velit
        ullamcorper pulvinar. Etiam posuere lacus quis dolor. Fusce consectetuer risus a nunc. Pellentesque sapien.
        Aliquam erat volutpat. Nullam rhoncus aliquam metus. Nulla turpis magna, cursus sit amet, suscipit a, interdum
        id, felis. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Mauris elementum mauris vitae
        tortor. Praesent in mauris eu tortor porttitor accumsan. Ut tempus purus at lorem.
    </div>
</div>
</body>
</html>
